spring:
  application:
    name: stepOne

  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: postgres
    password: 6647
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: "5f6435ed95ee4748cec80fd4cc7ba06e4313aa0b0faee36d5cf233df42403883"
  access-token-expiration: 900000
  refresh-token-expiration: 604800000


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.security: DEBUG
    by.forestapp.stepOne: DEBUG


springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs