server:
  port: 8080  # ← Явно указываем порт

spring:
  application:
    name: stepOne

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: postgres
    password: 6647
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

jwt:
  secret: "5f6435ed95ee4748cec80fd4cc7ba06e4313aa0b0faee36d5cf233df42403883"
  access-token-expiration: 900000
  refresh-token-expiration: 604800000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.security: DEBUG
    by.forestapp.stepOne: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

storage:
  supabase:
    url: https://zcbqqgicbgumvhebcsab.supabase.co
    bucket: place-images
    anon-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjYnFxZ2ljYmd1bXZoZWJjc2FiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA3MzE2MDAsImV4cCI6MjA4NjMwNzYwMH0.S_8pFi-n0u18mOF49oaQidoq1vR6y86nKX8AJwMoevc
    service-key: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjYnFxZ2ljYmd1bXZoZWJjc2FiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDczMTYwMCwiZXhwIjoyMDg2MzA3NjAwfQ.fTZHUcn7XCIBCggHxZ2XXVOVlWdv4mKUX5_HnM1qk0M